@font-face {
    font-family: appFont;
    src: url("../../public/fonts/Metropolis-Regular.otf")
}

body {
    font-family: appFont;
}

input {
    font-family: appFont;
}

select {
    font-family: appFont;
}

.auth-message {
    text-align: center;
    font-style: italic;
}