.deck-view {
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    width: 40%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bottom {
    width: 100%;
}

.deck-header {
    margin-left: 20px;
}

.edit-button, .study-button, .delete-button {
    margin-right: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 7px;
}

.edit-button:hover, .study-button:hover, .delete-button:hover {
    color: white;
}

.edit-button {
    background-color: #72f78e;
}

.study-button {
    background-color: #72d5f7;
}

.delete-button {
    background-color: #f77272;
}